<body>
	<!-- Navigation -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="<?php echo site_url('menu/dashboard') ?>">SPBE</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
			 aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<?php if ($this->session->userdata('role')
					== "Admin") { ?>
					<li class="nav-item active-sm">
						<a class="nav-link" href="<?php echo site_url('sistem/admin/dashboard') ?>">Admin</a>
					</li>
					<?php 
			} ?>
					<li class="nav-item active-sm">
						<a class="nav-link" href="<?php echo site_url('menu/dashboard') ?>">Beranda</a>
					</li>
					<li class="nav-item active-sm">
						<a class="nav-link" href="<?php echo site_url('menu/form') ?>">Isi Kuisioner SPBE</a>
					</li>
					<li class="nav-item active-sm">
						<a class="nav-link" href="<?php echo site_url('menu/laporan') ?>">Laporan</a>
					</li>
					<li>
						<a class="nav-link" href="<?php echo site_url('logout') ?>">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
