<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tambahuser"><span class="fa fa-plus"></span>
	Tambah
	User</button>
<div id="tambahuser" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Tambah user</h4>
			</div>
			<div class="modal-body">

				<?php echo form_open('login/register', ''); ?>
				<table>
					<tr>
						<td>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nama
									Instansi Pusat <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2"
									 name="namainstansipusat" placeholder="both name(s) e.g Jon Doe" required="required" type="text">
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Penanggung Jawab <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" id="" name="nama_penanggungjawab" required="required" class="form-control col-md-7 col-xs-12">
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">NIP
									Penanggung jawab <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" id="email2" name="nip_pj" data-validate-linked="email" required="required" class="form-control col-md-7 col-xs-12">
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Password <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="password" id="" name="password" required="required" class="form-control col-md-7 col-xs-12">
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">Jabatan <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" id="number" name="jabatan_pj" required="required" data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="website">Nama
									Operator <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="text" id="website" name="nama_operator" required="required" placeholder="www.website.com" class="form-control col-md-7 col-xs-12">
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">NIP Operator <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="occupation" type="text" name="nip_op" data-validate-length-range="5,20" class="optional form-control col-md-7 col-xs-12">
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="item form-group">
								<label for="password" class="control-label col-md-3">Jabatan
									Operator</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input id="password" type="text" name="jabatan_op" data-validate-length="6,8" class="form-control col-md-7 col-xs-12"
									 required="required">
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="item form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
									Role <span class="required">*</span></label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<!-- <input type="text" id="" name="role" required="required"
																	class="form-control col-md-7 col-xs-12"> -->
									<select class="select2_single form-control" name="role" tabindex="-1">
										<option></option>
										<option value="Admin"> Admin </option>
										<option value="User"> User </option>
									</select>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-6 col-md-offset-3 col-xs-12">
									<button type="submit" class="btn btn-primary" data-dismiss="modal">Cancel</button>
									<button id="send" type="submit" class="btn btn-success">Submit</button>
									<?php echo form_close(); ?>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
